{% extends 'admin/admbase.html' %}


{% block main %}
<h1>{{ mensaje }}</h1> 

<div class="form">
    <form action="" method="POST" enctype="multipart/form-data" novalidate class="formulario">
        {{ form.hidden_tag() }}

        <div>
            {{ form.post_image.label }}
            {{ form.post_image }}<br>
            {% for error in form.post_image.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form_input">
            {{ form.title.label }}
            {{ form.title(size=128) }}<br>
            {% for error in form.title.errors %}
            <span style="color: rgb(156, 74, 74);">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form_input">
            {{ form.precio.label }}
            {{ form.precio }}<br>
            {% for error in form.precio.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form_input">
            {{ form.title_slug.label }}
            {{ form.title_slug }}<br>
            {% for error in form.title_slug.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form_input">
            {{ form.descripcion.label }}
            {{ form.descripcion }}<br>
            {% for error in form.descripcion.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form_input">
            {{ form.image_name.label }}
            {{ form.image_name }}<br>
            {% for error in form.image_name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="btn">
            {{ form.submit() }}
        </div>
    </form>

    <!-- para eliminar el post  -->
    {% if post %}
    <form action="{{ url_for('admin.delete_post', post_id=post.id_producto) }}" novalidate method="post">
        <input type="submit" value="Eliminar" style=" padding: 10px;
        width: 150px;
        margin: 10px;
        background: #428CB5;
        border: none;
        color: #fff;" >
    </form>
    {% endif %}
</div>
{% endblock %}