<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce | administracion </title>
    <!-- iconos de fontawosome -->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

 <!-- fuentes de google fonts -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

 <link rel="stylesheet" href="{{ url_for('static', filename='css/admbase.css')}}">
 {% endblock %}
</head>
<body>

    {% block header %}
    <header class="header">
        <div class="header_content">
            <div class="title">
                <h1>Dashboard Administrativo</h1>
            </div>
            <div class="perfil">
                <h3>{{ current_user.nombre }}</h3>
                <a href=""><i class="fas fa-user"></i></a>
                <a href="/"><i class="fas fa-store"></i></a>
            </div>
        </div>
    </header>
    {% endblock %}

    <section class="section">
        {% block aside %}
        <aside class="aside">
            <nav class="nav">
                <ul>
                    
                        <li class="item">
                            <a href="{{url_for('admin.admin')}}" class="active"><i class="fas fa-home"></i>Home</a>
                        </li>
                       
                        <li class="item">
                            <a href="{{url_for('admin.list_posts')}}"><i class="fas fa-truck"></i></i>Productos</a>
                        </li>
                   
                        <li class="item">
                            <a href="{{url_for('admin.list_user')}}"><i class="fas fa-user"></i>Usuarios</a>
                        </li>
                </ul>
            </nav>
        </aside>
        {% endblock %}


       
        <div class="main">
            {% block main %}
            <h1>Bienvenido a el panel de administracion, esta logeado como <span style="color: red;">{{  current_user.nombre }}</span></h1>
            <h2>aqui podras administrar los productos, usuarios y cofiguraciones de la tienda</h2>
            {% endblock %}
        </div>
    </section>
</body>
</html>