<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashadmin.css')}}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>


<body>

    <header>
        <div class="header">
            <div class="title">
                <h1>Perfil de administrador</h1>
            </div>
        </div>
    </header>

    <section class="main">
        <aside >
            <div class="menu">
                <div class="usuario">
                    <img src="{{ url_for('static', filename='imagenes/imagenesdashboard/user-solid.svg')}}">
                    <h3>{{ current_user.nombre }}</h3>
                </div>
                <div class="boton">
                    <a href="">
                        <i class="fas fa-users-cog"></i>
                        Configuración
                    </a>
                    
                </div>
            </div>
        </aside>
        <div class="contenido">
            <h1>BIENVENIDO al perfil de administrador/Super
                Administrado...</h1>
        
            <div class="botones">
                <a href="{{ url_for('admin.admin') }}">
                    Administracion
                </a>

                <a href="/">
                    Ver tienda
                </a>
            </div>
        </div>
       
    </section>

</body>
</html>

