{% extends 'template.html' %}

{% block main %}

<section class="section_product">
    <!-- detalles del producto -->
    <article>
            <div class="descripcionbreve">
                <div class="contenido">
                    <p>{{ post.title }}</p>
                    <img src="{{ url_for('static', filename='imgDetalleP/corazon.png')}}" alt="corazon"width="40px"; align="right" top="border"> 
                    <h1>$200.000</h1>
                    <br clear="all">
                    <img src="{{url_for('static', filename='imgDetalleP/carritoentrega.png')}}" alt="entrega"
                    width="40px" height="40px"; align="left" >
                    <h2>Envio Gratis!!</h2>
                    <nav> <a href="#"> <h6>Calificar Producto</h6> </a> </nav> 
                    <img src="{{url_for('static', filename='imgDetalleP/estrellas.png')}}" alt="estrella" width= 210px height=30px >
                    <h3>Color: Negro</h3>
                    <h3>Stock: Disponible</h3>
                    <h3>Cantidad: 1 (100 Disponibles)</h3>
                    <h6>Ver Metodos De Pago</h6>
                    <img src="{{url_for('static', filename='imgDetalleP/mediosdepago.png')}}" alt="mediosdepago"width= 250px height=50px >
                </div>
                <div class="btn-container">
                    <a href="" class="buy">Comprar</a>
                    <a href="" class="buy">Agregar al carrito</a>
                </div>
            </div>
    </article>

    <!--Imagen del producto -->
    <article>
        <div class="producto">
            <div class="imagenproducto">
                {% if post.image_name %}
                <img src="{{ url_for('media_posts', filename=post.image_name) }}" alt="producto" width= 600px height=500px >
                {% endif %}
            </div>
            <div class="imagendetallada">
                <img src="{{url_for('static', filename='imgDetalleP/imgdetalla1.jpg')}}" alt="">
                <img src="{{url_for('static', filename='imgDetalleP/imgdetalla2.jpg')}}" alt="">
                <img src="{{url_for('static', filename='imgDetalleP/imgdetalla3.jpg')}}" alt="">
                <img src="{{url_for('static', filename='imgDetalleP/imgdetalla4.jpg')}}" alt="">
            </div>
            <div class="DescripcionProducto">
                <h1> Descripción del Producto</h1>
                <p>{{ post.content }}</p> 
            </div>
        </div>
    </article>
</section>
    <!-- Detalle del producto con caracteristicas -->

            <section> 
            <form> 
                <div class="comentario">
                    <div class="content_coment">
                    <h1> 0 Comentarios</h1>
                    <div>
                    <img src="{{url_for('static', filename='imgDetalleP/logo.png')}}" alt="" width= 90px height=50px></div>
                    <div>
                        <label for="comentario"></label>
                        <input type="text" name="comentario" id="comentario"placeholder="Añade un Comentario" >
                    </div>
                   <div>
                    <h6>Politicas de Moderación</h6></div>
                    </div>
                    <div class="coment">  
                        <button type="submit" id="Publicar" class="PublicarComentario">Publicar</button>
                    </div>
                </div>
               
            </form>
           
            <div align="center">                    
                <button type="submit" id="Ver Comentarios" class="Comentario-post">
                   Ver Comentarios</button>
            </div>  
        </section>
{% endblock %}
 
