<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
      <!-- fuentes de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>

    <!-- contendor principal -->
    <div class="container">
        <div class="container_login">
            <div class="content">
                <div class="logo_text">
                    <h2>Regístrate</h2>
                </div>
                <div class="logo">
                    <img src="{{ url_for('static', filename='imagenes/media_result_20210927_d2d9404f-982f-481a-bab1-26d155a77f04.png')}}" alt="">
                </div>
                {% if error %}
                    <p style="color: red;"><strong>Error:</strong> {{ error }}
                {% endif %}
                <div class="formulario">
                    <form action="" method="post" class="form" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form_inp">
                                {{ form.nombre.label }}
                                {{ form.nombre}}<br>
                                {% for error in form.nombre.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            
                                {{ form.apellido.label }}
                                {{ form.apellido}}<br>
                                {% for error in form.apellido.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                    
                                {{ form.email.label }}
                                {{ form.email }}<br>
                                {% for error in form.email.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                        
                                {{ form.password.label }}
                                {{ form.password }}<br>
                                {% for error in form.password.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                        </div>
                        <div class="form_btn">
                            {{ form.submit() }}

                            <div class="form_link">
                                <a href="/login" class="link_text">¿Ya tienes cuenta?</a><br>
                                <a href="" class="link_text">Términos y Condiciones</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
